body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}


nav {
	height: 40px;
	line-height: 40px;
	margin-bottom: 5px;
}

nav.navMob {
	height: 80px;
	line-height: 40px;
	margin-bottom: 5px;
}

nav .nav-wrapper{
	background-color: #70af3f;
	padding-left: 10px;
	font-size: 50px;
}

nav ul a.btn, nav ul a.btn-large, nav ul a.btn-large, nav ul a.btn-flat, nav ul a.btn-floating {
	margin-top: -7px;
	margin-left: 15px;
	margin-right: 15px;
}

html, body {
	height: 100%;
}

div.test {
	position:absolute;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
}

[type="radio"]:not(:checked)+label, [type="radio"]:checked+label {
	padding-left: 22px;
	padding-right: 15px;
}

a.btn.donateBtn {
	height: 30px;
	line-height: 29px;
	background-color: #e07a00;
	font-family: 'Raleway', sans-serif;
}

a.btn.donateBtn2 {
	height: 60px;
	width: 300px;
	font-size: 30px;
	padding: 14px;
	margin-top: 8px;
	line-height: 29px;
	background-color: #e07a00;
	font-family: 'Raleway', sans-serif;
}

p.donateText{
	font-size: 23px;
	color: #70af3f;
}

p.donateText2{
	font-size: 15px;
	color: #70af3f;
}

div.contentContainer{
	padding-top: 2%;
}

div.donationContainer {
	border: solid #70af3f;
	overflow: auto;
	border-radius: 10px;
	margin-top: 15%;
	padding-left: 15px;
	padding-right: 15px;
}

p{
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}

p.bookText{
	font-size: 15px;
	color: #70af3f;
	margin-top: 0px;
}

span.card-title.orange-text{
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}

.card .card-content {
	padding: 24px;
	border-radius: 0 0 2px 2px;
	background-color: rgba(126, 187, 70, 0.89);
	color: white;
}

a.btn-large.downloadBtn {
	background-color: #e07a00;
	font-family: 'Raleway', sans-serif;
}

a.btn-large.downloadBtn2 {
	background-color: #e07a00;
	font-family: 'Raleway', sans-serif;
	width: 50%;
	height: 80px;
	padding-top: 13px;
	font-size: 30px;
}

i.btn-large {
	background-color: #e07a00;
	font-family: 'Raleway', sans-serif;	
}

input.btn-large.donationButton{
	background-color: #e07a00;
	font-family: 'Raleway', sans-serif;
}



a.waves-effect.waves-light.btn.donateBtnMob {
	background-color: #e07a00;
	font-family: 'Raleway', sans-serif;
	width: 100%;
}

div.hide-on-med-and-up.right.full{
	width: 100%;
}

div.bookContainer {
}
img.full{
	width: 75%;
}

@media only screen and (max-device-width : 1024px) {
	img.full{
		width: 100%;
		margin-top: 20px;
	}
}

img.robinFoto {
	width: 200px;
}

.sectionfull {
	height: 100%;
}

.section1{
	height: 100%;
}

.card.horizontal .card-image img {
	max-width: auto; 
	max-height: 130px;
}

p.robinText {
	font-size: 100%;
}

h2{
	font-family: 'Raleway', sans-serif;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after {
	background-color: #e07a00;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after {
	background-color: #e07a00;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after {
	border: 2px solid #e07a00;
}


.input-field input[type=text]:focus {
	border-bottom: 1px solid #e07a00;
	box-shadow: 0 1px 0 0 #e07a00;
}

.input-field input[type=number]:focus {
	border-bottom: 1px solid #e07a00;
	box-shadow: 0 1px 0 0 #e07a00;
}

span.custom {
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 1.5rem;
	color: #9e9e9e;
}

span.custom2 {
	font-size: 1.5rem;
	color: #9e9e9e;
}

input#first_name{
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 1.5rem;
	color: #9e9e9e;
}
#customAmount{
	width: 80px;
	font-size: 1.5rem;
	color: #9e9e9e;
	margin-top: 0.78em;
	height: inherit;
}

#customAmountMob{
	width: 80px;
	font-size: 1.5rem;
	color: #9e9e9e;
	height: inherit;
}

[type="radio"]:not(:checked)+label, [type="radio"]:checked+label {
	font-size: 1.5rem;
}
/* Button effects */
.hvr-grow {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

@font-face {
	font-family: "qmeat";
	src: url(../fonts/qmeat.ttf);
}

.card{
	margin-bottom: 0px;
}

div.bottomParent{
	position: relative;
}

div.bottomThis{
	position: absolute;
	bottom: 0px;
}

div.col.s9.robinTextContainer{
	height: 100%;
}

div.robinText{
	color: #70af3f;
	vertical-align: middle;
}

div.row.footer{
	overflow: auto;
	height: auto;
	border: solid 3px #70af3f;
	border-radius: 10px;
}

div.robinCol{
	padding: 0px;
	height: 450px;
}

img.robinFoto2{
	width: 100%;
	border-radius: 8px 8px 8px 0px;
	display: none;
}

.card {
	box-shadow: none;
}

footer.page-footer {
	padding-top: 0px; 
	background-color: #70af3f;
	font-size: 12px;
}

div.mobilespacer {
	height: 300px;
}

#mobile{
	margin-top: 100px;
}

input#NameDon {
	width: 35%;
}

@media only screen and (max-device-width : 1024px) {
	[type="radio"]:not(:checked)+label, [type="radio"]:checked+label {
		font-size: 1.5rem;
		transform: scale(2);
		margin-left: 40px;
		margin-right: 50px;
	}

	#customAmount{
		font-size: 3.2rem;
		margin-top: 0.1rem;
	}

	p.donateText2 {
		margin-bottom: 35px;
	}

	div.customDiv{
		margin-top: 30px;
	}
	input#first_name {
		font-size: 35px;
	}
	input#NameDon {
		font-size: 40px; 
		height: 80px;
		width: 40%;
	}
}

@media only screen and (max-device-width : 360px) {
	#galaxy {
		margin-top: 500px;
	}
}
