nav .nav-wrapper{
	background-color: #70af3f;
	padding-left: 10px;
	font-size: 50px;
	font-family: 'qmeat';
}

a.btn-large.donateBtn {
	margin-top: -8px;
	background-color: #e07a00;
	font-family: 'Raleway', sans-serif;
}

p{
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}

p.bookText{
	font-size: 15px;
	color: #e07a00;;
}

span.card-title.orange-text{
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}

.card .card-content {
    padding: 24px;
    border-radius: 0 0 2px 2px;
    background-color: rgba(126, 187, 70, 0.89);
    color: white;
}

a.btn-large.downloadBtn {
	background-color: #e07a00;
	font-family: 'Raleway', sans-serif;
}

a.waves-effect.waves-light.btn.donateBtnMob {
	background-color: #e07a00;
	font-family: 'Raleway', sans-serif;
	width: 100%;
}

div.hide-on-med-and-up.right.full{
	width: 100%;
}

div.heading{
	margin-bottom: 50px;
}

div.bookContainer {
}
img.full{
	width: 80%;
}

img.robinFoto {
	width: 200px;
}

p.robinText {
	font-size: 100%;
}

h2{
	font-family: 'Raleway', sans-serif;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after {
	background-color: #e07a00;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after {
	background-color: #e07a00;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after {
	border: 2px solid #e07a00;
}

input[type=text]:focus{
	border-bottom: 1px solid #e07a00;
	box-shadow: 0 1px 0 0 #e07a00;
}

.input-field input[type=text]:focus {
	border-bottom: 1px solid #e07a00;
	box-shadow: 0 1px 0 0 #e07a00;
}

[type="radio"]:not(:checked)+label, [type="radio"]:checked+label {
	font-size: 1.5rem;
}
/* Button effects */
.hvr-grow {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

@font-face {
	font-family: "qmeat";
	src: url(../fonts/qmeat.ttf);
}