nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 40px;
    line-height: 40px;
    margin-bottom: 5px;
}

nav .nav-wrapper{
	background-color: #70af3f;
	padding-left: 10px;
	font-size: 50px;
}

nav ul a.btn, nav ul a.btn-large, nav ul a.btn-large, nav ul a.btn-flat, nav ul a.btn-floating {
    margin-top: -7px;
    margin-left: 15px;
    margin-right: 15px;
}

html, body {
    height: 100%;
}

[type="radio"]:not(:checked)+label, [type="radio"]:checked+label {
    padding-left: 22px;
    padding-right: 15px;
}

a.btn.donateBtn {
	height: 30px;
	line-height: 29px;
	background-color: #e07a00;
	font-family: 'Raleway', sans-serif;
}

a.btn.donateBtn2 {
/*	height: 30px;
	line-height: 29px;
	background-color: #e07a00;*/
	font-family: 'Raleway', sans-serif;
}

input.btn-large.donationButton{
	background-color: #e07a00;
	font-family: 'Raleway', sans-serif;
}

p.donateText{
	font-size: 23px;
	color: #70af3f;
}

p.donateText2{
	font-size: 15px;
	color: #70af3f;
}

div.contentContainer{
 height: 100%;
 width: 100%;
}

div.donationContainer{
	border: solid #70af3f;
	overflow:auto;
	border-radius: 10px;
}

p{
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}

p.bookText{
	font-size: 15px;
	color: #70af3f;
}

span.card-title.orange-text{
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}

.card .card-content {
    padding: 24px;
    border-radius: 0 0 2px 2px;
    background-color: rgba(126, 187, 70, 0.89);
    color: white;
}

a.btn-large.downloadBtn {
	background-color: #e07a00;
	font-family: 'Raleway', sans-serif;
}

a.waves-effect.waves-light.btn.donateBtnMob {
	background-color: #e07a00;
	font-family: 'Raleway', sans-serif;
	width: 100%;
}

div.hide-on-med-and-up.right.full{
	width: 100%;
}

div.bookContainer {
}
img.full{
	width: 80%;
}

img.robinFoto {
	width: 200px;
}

.sectionfull {
	height: 100%;
}

.section1{
	height: 100%;
}

.card.horizontal .card-image img {
    max-width: auto; 
    max-height: 130px;
}

p.robinText {
	font-size: 100%;
}

h2{
	font-family: 'Raleway', sans-serif;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after {
	background-color: #e07a00;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after {
	background-color: #e07a00;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after {
	border: 2px solid #e07a00;
}


.input-field input[type=text]:focus {
	border-bottom: 1px solid #e07a00;
	box-shadow: 0 1px 0 0 #e07a00;
}

.input-field input[type=number]:focus {
	border-bottom: 1px solid #e07a00;
	box-shadow: 0 1px 0 0 #e07a00;
}

span.custom {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    color: #9e9e9e;
}

span.custom2 {
    font-size: 1.5rem;
    color: #9e9e9e;
}

input#first_name{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    color: #9e9e9e;
}

#customAmount{
	width: 80px;
    font-size: 1.5rem;
    color: #9e9e9e;
}

[type="radio"]:not(:checked)+label, [type="radio"]:checked+label {
	font-size: 1.5rem;
}
/* Button effects */
.hvr-grow {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

@font-face {
	font-family: "qmeat";
	src: url(../fonts/qmeat.ttf);
}

img.robinFoto2{
	height: 100%;
	text-align: right;
	vertical-align: bottom;
	border-radius: 8px;
}



div.col.s10.robinTextContainer{
	height: 100%;
}

div.robinText{
	color: #70af3f;
	vertical-align: middle;
}

div.row.footer{
	height: 150px;
	border: solid 3px #70af3f;
	border-radius: 10px;
}

div.col.s2.robinCol{
	padding: 0px;
	height: 100%;
	text-align: right;
	vertical-align: bottom;
}

.card {
    box-shadow: none;
}